.endPart {
  position: relative;
  bottom: 0;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
.endPart h1,
.endPart h3,
.endPart p {
  color: #fae8e8;
  font-size: calc(1em + 20vw);
  font-weight: 900;
  font-size: 2rem;
  text-shadow: -0.009em 0.009em 0 #fcf1f1, 0.008em 0.008em 0 #d79cb0,
    0.03em 0.03em 0 #eba7a7, 0.015em 0.015em #ecabab, 0.06em 0.06em 0 #edb0b0,
    0.09em 0.09em 0 #eeb5b5, 0.06em 0.06em 0 #efb9b9, 0.035em 0.035em 0 #f0bebe;
}
.endPart h3 {
  font-size: 1.4rem;
}
.endPart p {
  font-size: 1rem;
}
