.endPart {
    position: relative;
    bottom: 0;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.endPart h1 {
    color: #fae8e8;
    font-size: calc(1em + 20vw);
    font-size: 120px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    transition: all .5s ease-out;
    text-shadow: 6px 6px #4458dc;
    font-style: italic;
}

.endPart h1:hover {
    font-size: 130px;
    text-shadow: 10px 10px #4458dc, 25px 25px #000000;
}

.endPart h3 {
    font-size: 1.4rem;
    font-family: Poppins;
    color: white;
}

.endPart p {
    font-size: 3rem;
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transition: all .5s ease-out;
    text-shadow: 6px 6px #4458dc;
    font-style: italic;
}

.endPart a {
    color: white;
    text-decoration: none;
}

.endPart a::before {
    top: 100%;
    height: 3px;
    width: 1rem;
    content: "";
    transition: all 2s ease-out;
}

.endPart a:hover::before {
    background-color: rgb(182, 55, 55);
    height: 3px;
    width: 10rem;
    content: "";
    position: absolute;
    opacity: 1;
}