.type-text {
  color: #6C63FF;
}

.type-cursor {
  display: inline-block;
  width: .1rem;
  background-color: #5e6997;
  margin-left: .2rem;
  -webkit-animation: blink 1s  infinite;
          animation: blink 1s  infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: .1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: .1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}

.type-cursor.typing {
  -webkit-animation: none;
          animation: none;
}

.img1:hover #banner, .img1:hover #smileball, .img1:hover #smile, .img1:hover #eye1, .img1:hover #eye2, .img1:hover #smileball-shadow {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: wave 1s infinite;
          animation: wave 1s infinite;
}

.img1:hover #hand-banner {
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-animation: hand 1s infinite;
          animation: hand 1s infinite;
}

.img1:hover #shape-rect {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: shapes 3s infinite;
          animation: shapes 3s infinite;
}

.img1:hover #leaf1 {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: leafs 3s infinite;
          animation: leafs 3s infinite;
  animation-direction: reverse;
}

.img1:hover #leaf2 {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: leafs 3s infinite;
          animation: leafs 3s infinite;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes hand {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes hand {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@-webkit-keyframes shapes {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes shapes {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes leafs {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes leafs {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.greetimage1, .greetimage2 {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.greetimage1.blockd {
  display: none;
}

.greetimage2.blockd {
  display: none;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
