.greetimage2 #ch-cf-smoke {
  size: 100%;
  -webkit-animation: coffee 3s ease-out infinite;
  animation: coffee 3s ease-out infinite;
}
.greetimage2 #ch-shoe {
  -webkit-transform-origin: top;
  transform-origin: top;
  transform-box: fill-box;
  -webkit-animation: shoe-tap 1s ease-out infinite;
  animation: shoe-tap 1s ease-out infinite;
}
.greetimage2 #h2-leg {
  -webkit-transform-origin: top;
  transform-origin: top;
  transform-box: fill-box;
  -webkit-animation: legmove 1s ease-out infinite;
  animation: legmove 1s ease-out infinite;
}
.greetimage2 #ch-hand {
  -webkit-transform-origin: center;
  transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: wavepalm 1s ease-out infinite;
  animation: wavepalm 1s ease-out infinite;
}
.greetimage2 #ch-long-hand {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: waves 1s ease-out infinite;
  animation: waves 1s ease-out infinite;
}
.greetimage2 #lap-light,
.greetimage2 #leaf-box {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-animation: laplight 2s ease-out infinite;
  animation: laplight 2s ease-out infinite;
}
.greetimage2 #ch-leaf,
.greetimage2 #ch-leafbranch {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: leafmove 2s ease-out infinite;
  animation: leafmove 2s ease-out infinite;
}
.greetimage2:hover #ch-leaf,
.greetimage2:hover #ch-leafbranch {
  -webkit-animation: leafmovx 2s ease-out infinite;
  animation: leafmovx 2s ease-out infinite;
}
.greetimage2:hover #hand-tap {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transform-box: fill-box;
  color: #f8f8f8;
  -webkit-animation: handtap 2s ease-out infinite;
  animation: handtap 2s ease-out infinite;
}
@-webkit-keyframes coffee {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(0.5%, 0%);
    transform: translate(0.5%, 0%);
  }
  50% {
    -webkit-transform: translate(0%, 0.5%);
    transform: translate(0%, 0.5%);
  }
  75% {
    -webkit-transform: translate(-0.5%, 0%);
    transform: translate(-0.5%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@keyframes coffee {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(0.5%, 0%);
    transform: translate(0.5%, 0%);
  }
  50% {
    -webkit-transform: translate(0%, 0.5%);
    transform: translate(0%, 0.5%);
  }
  75% {
    -webkit-transform: translate(-0.5%, 0%);
    transform: translate(-0.5%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@-webkit-keyframes shoe-tap {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}
@keyframes shoe-tap {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}
@-webkit-keyframes legmove {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(0.5deg);
    transform: rotateZ(0.5deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}
@keyframes legmove {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(0.5deg);
    transform: rotateZ(0.5deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}
@-webkit-keyframes waves {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes waves {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes wavepalm {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-35%, 3%);
    transform: translate(-35%, 3%);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes wavepalm {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-35%, 3%);
    transform: translate(-35%, 3%);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes laplight {
  0% {
    fill: #6c63ff;
  }
  50% {
    fill: #db80ad;
  }
  100% {
    fill: #6c63ff;
  }
}
@keyframes laplight {
  0% {
    fill: #6c63ff;
  }
  50% {
    fill: #db80ad;
  }
  100% {
    fill: #6c63ff;
  }
}
@-webkit-keyframes leafmove {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@keyframes leafmove {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes leafmovx {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateY(50deg) rotateZ(10deg);
    transform: rotateY(50deg) rotateZ(10deg);
  }
  50% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateY(-50deg) rotateZ(-10deg);
    transform: rotateY(-50deg) rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes leafmovx {
  0% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  25% {
    -webkit-transform: rotateY(50deg) rotateZ(10deg);
    transform: rotateY(50deg) rotateZ(10deg);
  }
  50% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateY(-50deg) rotateZ(-10deg);
    transform: rotateY(-50deg) rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
    transform: rotateY(0deg) rotateZ(0deg);
  }
}
@-webkit-keyframes handtap {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@keyframes handtap {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(-15deg);
    transform: rotateZ(-15deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
