#plant-circle, #_2leaf-circle {
  fill: #5e6997;
}

.greetimage1:hover #plant-rbl, .greetimage1:hover #plant-rml, .greetimage1:hover #plant-rtl, .greetimage1:hover #_2leaf-black {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: leafswing 1s ease-out infinite;
          animation: leafswing 1s ease-out infinite;
}

.greetimage1:hover #plant-lbl, .greetimage1:hover #plant-ltl, .greetimage1:hover #_2leaf-white {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: leafswingl 1s ease-out infinite;
          animation: leafswingl 1s ease-out infinite;
}

.greetimage1:hover #circle-blue {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-animation: csw 2s ease-out infinite;
          animation: csw 2s ease-out infinite;
}

.greetimage1:hover #plant-circle, .greetimage1:hover #_2leaf-circle {
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
  -webkit-animation: csw 2s ease-out infinite;
          animation: csw 2s ease-out infinite;
}

.greetimage1:hover #plant-base {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-animation: box-back 1s ease-out infinite;
          animation: box-back 1s ease-out infinite;
}

.greetimage1:hover #l-shoe {
  -webkit-transform-origin: top;
          transform-origin: top;
  transform-box: fill-box;
  -webkit-animation: shoe-tap 1s infinite;
          animation: shoe-tap 1s infinite;
}

.greetimage1:hover #circle-black {
  -webkit-transform-origin: top;
          transform-origin: top;
  transform-box: fill-box;
  -webkit-animation: circleb 2s linear infinite;
          animation: circleb 2s linear infinite;
}

.greetimage1:hover #circle-white {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  transform-box: fill-box;
  -webkit-animation: circleb 2s linear infinite;
          animation: circleb 2s linear infinite;
}

@-webkit-keyframes csw {
  0% {
    fill: #6C63FF;
  }
  50% {
    fill: #db80ad;
  }
  100% {
    fill: #6C63FF;
  }
}

@keyframes csw {
  0% {
    fill: #6C63FF;
  }
  50% {
    fill: #db80ad;
  }
  100% {
    fill: #6C63FF;
  }
}

@-webkit-keyframes leafswing {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes leafswing {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes leafswingl {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes leafswingl {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes box-back {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  50% {
    -webkit-transform: translate(-20%, -20%);
            transform: translate(-20%, -20%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes box-back {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  50% {
    -webkit-transform: translate(-20%, -20%);
            transform: translate(-20%, -20%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@-webkit-keyframes shoe-tap {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shoe-tap {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes circleb {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes circleb {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  50% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
/*# sourceMappingURL=header1.css.map */