
/*importing fonts from font.css*/
@import url(./font.css);


/*start navigation*/
.MyHeader .Main_Menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.MyHeader .Main_Menu .nav-item .nav-link{
    font:normal 500 10px/2px;
    font-family: "Roboto", cursive;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1.7rem;
    color: black;
}

.MyHeader .Main_Menu .navbar-nav .active a{
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.MyHeader .Main_Menu .navbar-nav a:hover{
    background: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/*end navigation*/

