#footer{
    background: #262626;

}


.footer-inner{
    padding: 5%;
    color: white;
}


/*glowing-icon*/
.footer-follow-me{
    

    ul{
        padding: 1em;
        display: flex;
        top: 10%;
        left: 15%;
        transform: (-50%, -50%);
    
        li{
            list-style: none;
            margin: 0 5%;
    
            i{
                display: block;
                width: auto;
                height: auto;
                text-align: center;
                line-height: auto;
                background: #333;
                border-radius: 50%;
                font-size: 150%;
                color: #666;
                transition: .5s;
            }
        }
    }
      
    
    
    ul li i:hover::before {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgb(255, 208, 0);
      }
      
    ul li i:hover {
        color: rgb(255, 251, 0);
        box-shadow: 0 0 5px rgb(255, 230, 0);
        text-shadow: 0 0 5px rgb(255, 208, 0);
      }
}  
/*glowing-icon end*/



/*contact*/
.contact-info{
    ul{
        display: flex;
        padding-left: 5%;

        li{
            padding-right: 7%;
        }
    }
    
}

@media(max-width: 730px){
    .contact-info{
        ul{
            display: grid;
        }
    }
}


