// importing files
@import ../sass/_color
@import ../node_modules/include-media/dist/_include-media
@import ../scss/fontawesome
@import ../scss/solid
@import ../scss/brands
//making use of whole page
*
    margin: 0rem
    padding: 0rem
    
//parent of navbar ,logo ,and nav-links
//always on top therefore position fixed
.header
    margin: 0rem
    padding: 0rem
    position: fixed
    top: 0px
    z-index: 99 //keep object at front
    width: 100%

//the thin colored strip above navbar 
.bar
    height: 1vh
    background-color: $logocolor
    top: 0px
    margin-bottom: -1px
    bottom: -3px
    z-index: 99 //keep object at front
    display: flex
    width: 100%

//navbar conating logo and nav-links
nav
    height: 10vh
    display: flex
    justify-content: space-around
    align-items: center
    position: sticky !important
    overflow: none
    z-index: 99
    top: 1rem
    
//nav class extension make it transparent when at top
.onscroll
    background: #ffffff00

//add scroll class to onscroll through javascript to make it translucent on scroll    
.onscroll.scroll
    background: $navbg
    top: 0rem

//the name of person
.logo
    position: relative
    font-size: 1.8rem
    font-family: Poppins !important
    color: $logocolor
    margin-left: 5%
    overflow: visible
    font-weight: bolder
    margin-top: 1rem
    overflow: none



//list of links in navbar
.navlinks
    display: flex
    justify-content: space-around
    align-items: center
    list-style: none
    width: 30rem
    margin-left: auto
    margin-top: 1rem

//link tags in navlinks
.navlinks a
    text-decoration: none
    color: $hamcolor
    font-family: 'Poppins',sans-serif
    font-weight: bold
    &::before //boilerplate for link hover animation
        content: ""
        position: absolute
        margin-top: 1.2rem
        height: .5rem
        width: 0rem
        transition: all .5s ease-out
        z-index: -2
    //animating links before element
    &:hover
        &::before
            content: ""
            margin-top: 1.2rem
            position: absolute
            width: 5%
            height: .5rem
            transition: all .7s ease-out
            background: $logocolor

//the link expand on mobile phones
.burger div
    @extend %fa-icon
    @extend .fas
    display: none
    font-size: 1.5rem
    &:before
        content: fa-content($fa-var-bars)

//for testing //marking boundary for about content to start
.line1
    border-left : 2rem solid red
    width: 1rem
//repsonive when on phone

@include media("<=730px")
    //triggered when burger icon is clicked and nav-links are shown
    .onscroll.reverse
        background: $logocolor !important

    //making nav-links arrange vertical rather tahn hoizontal
    .navlinks
        display: flex
        position: fixed
        color: $hamcolor
        height: 50vh
        width: 100%
        flex-direction: column
        margin-top: 27rem
        clip-path: circle(100px at 90% -10%)
        -webkit-clip-path: circle(100px at 90% -10%)
        pointer-events: none
        transition: all 1s ease-out
    
    .logo
        margin-left: 2%

    //triggered when burger icon is clicked open     
    .logo.open
        color: #ffffff
        z-index: 99
    .burger
        color:
        z-index: 99

    //changing burger color from blue to white on opening    
    .burger div
        display: inline
        color: $hamcolor
        
    //how nav-links will be displayed when clicked on burger icon   
    .navlinks.open
        position: fixed
        display: flex
        color: $navbg
        background-color: $logocolor
        flex-direction: column
        transition: all 1s ease-in
        clip-path: circle(1000px at 90% -10%)
        -webkit-clip-path: circle(1000px at 90% -10%)
        pointer-events: all
        
    //changing colors of links then
    .navlinks.open a
        color: $navbg
        //links underline modification
        &::before
            background: $navbg
            margin-top: 2rem
            height: .3rem
            width: 50%
            right: 50%
            left: 25%
            transition: all .7s ease-out

    //behavior of nav-links close button
    .burger.cross div
        // transition: all 1s ease-out
        z-index: 99
        color: $navbg
        &:before //adding fontawesome icon
            content: fa-content($fa-var-times)

    //changing entire navbar color 
    nav.open
        background-color: $logocolor
        top: 0rem

    .bar.open
        // background-color: $navlinkbg    

    //for quick transition from screen of links tags
    .navlinks li:nth-child(1)
        transition: all .1s ease .2s
    .navlinks li:nth-child(2)
        transition: all .1s ease .2s
    .navlinks li:nth-child(3)
        transition: all .1s ease .2s
//this will the mouse icon animating hinting at scrolling
.arrow
    display: block
    position: relative
    justify-content: center
    top: 100vh
    margin: -4rem 0 3rem 0
    align-content: center
    bottom: 0px
    text-align: center

//arrow position in phone
@include media("<=730px")
    .arrow
        margin-top: -4rem    

//section tag having class content
//donot try to remove properties----but you can add one(s)
/* for about section*/
.main-section-content
    background: $pinkcolor
    position: relative
    top: 100vh
    height: 100%
    display: block
    border: 1rem #000000
    
    

.inner-content
    padding: 5em 1em 5em 1em 

section
    box-sizing: border-box
    
section
    section
        padding: 5em 1em 5em 1em 
        blockquote 
            font-size: 2.3em
            width: 30%
            margin-top: 17%
            position: absolute

            span 
                width: 100%
                background: red
                display: block
                height: 5px
                margin-top: 20px
        
        img:nth-of-type(1) 
            width: 70%
            right: 40%
            top: 10%
            height: 100%
            margin-left: 30%
            

        img:nth-of-type(2) 
            width: 45%
            right: 40%
            top: 10%
            margin-top: -15%
            opacity: 0.7


@media(max-width: 730px)
    section
        section
            img:nth-of-type(1)
                width: 100%
                margin-left: 0
                height: 60%
                opacity: 1

            img:nth-of-type(2)
                width: 100%
                opacity: 1
                
                


.sticky 
    background: white !important

.percentage 
    position: absolute
    bottom: 10px
    left: 10px


#box 
   width: 100px
   height: 100px
   position: absolute
   border: 5px solid black
   margin: auto
   top: 0
   left: 0
   bottom: 0
   right: 0
   opacity: 0.5


/*for project section*/
.projects
        
.myProject
    margin-top: 4rem

.center
    display: block
    margin-left: auto
    margin-right: auto
    width: 70%


.project-image:hover 
    opacity: 0.8
    animation: shake 0.5s
    animation-iteration-count: infinite


@keyframes shake 
    0%   
        transform: translate(1px, 1px) rotate(0deg)
    10%  
        transform: translate(-1px, -2px) rotate(-1deg)
    20%  
        transform: translate(-3px, 0px) rotate(1deg)
    30%  
        transform: translate(3px, 2px) rotate(0deg)
    40%  
        transform: translate(1px, -1px) rotate(1deg)
    50%  
        transform: translate(-1px, 2px) rotate(-1deg)
    60%  
        transform: translate(-3px, 1px) rotate(0deg)
    70%  
        transform: translate(3px, 1px) rotate(-1deg)
    80%  
        transform: translate(-1px, -1px) rotate(1deg)
    90%  
        transform: translate(1px, 2px) rotate(0deg)
    100%  
        transform: translate(1px, -2px) rotate(-1deg)

    


[data-scroll]
    transition: transform 3s

[data-scroll="in"]
    transform: translateY(0)

[data-scroll="out"]
    transform: translateY(5rem)

